* {
  margin: 0;
  padding: 0;
  list-style: none;
}
html,
body,
#app {
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
}

.clear {
  clear: both;
}

ul li {
  list-style-type: none;
}

a:link {
  color: blue;
  text-decoration: none;
}
a:hover {
  color: red;
  text-decoration: none;
}

@font-face {
  font-family: 'iconfont';
  src: url('../assets/icon/iconfont.eot');
  src: url('../assets/icon/iconfont.eot?#iefix') format('embedded-opentype'),
      url('../assets/icon/iconfont.woff2') format('woff2'),
      url('../assets/icon/iconfont.woff') format('woff'),
      url('../assets/icon/iconfont.ttf') format('truetype'),
      url('../assets/icon/iconfont.svg') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 0.9rem !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.el-menu--collapse>.el-menu-item span, .el-menu--collapse>.el-submenu>.el-submenu__title span{
  height: 1rem;
  width: 1rem;
  visibility: inherit;
}
.el-menu--collapse>.el-submenu>.el-submenu__title span:nth-child(2){
  width: 0;
}

.TemperatureRiseForecast .el-input{
  top: -0.25rem;
}
.TemperatureRiseForecast .el-button{
  top: -0.25rem;
  display: block;
  
}
.TemperatureRiseForecast .el-button--mini, .el-button--mini.is-round{
  padding: 0.25rem 20px;
  box-shadow: 2px 2px 4px #fdd7d8;
}
.TemperatureRiseForecast .el-input__inner{
  border: 1px #abc2e8 solid;
}
.TemperatureRiseForecast .el-input--mini{
  font-size: 0.45rem;
}
.TemperatureRiseForecast .el-input--mini .el-input__inner{
  height: 1rem;
}
.TemperatureRiseForecast .el-button--mini, .el-button--small{
  font-size: 0.45rem;
}
.TemperatureRiseForecast .el-input__inner {
  border-radius: 2px;
}

.index .el-table .cell{
  line-height: inherit;
  font-size: 0.43rem;
  text-align: center;
}
.index .el-table{
  color: #000;
}
.index .el-table__expand-icon>.el-icon{
 margin-left: -40%;
 margin-top: -0.3rem;
 
}
.index .el-table td{
  padding: 0.2rem 0;
}
.index .el-table th{
  padding: 0.3rem 0;
}
.index .el-table tr,
.TemperatureRiseSearch .el-table tr,
.databrowsing .el-table tr{
  background-color: #f9f9f9;
}
.index .el-table tr:nth-child(2n),
.TemperatureRiseSearch .el-table tr:nth-child(2n),
.databrowsing .el-table tr:nth-child(2n){
  background-color: #fff;
}
.index .el-table__body-wrapper{
  background-color: #fff;
}

.index .el-table tbody tr:hover>td { 
  background-color: #bde5ff;
  color: #555555;
}
.index .el-table th,.TemperatureRiseSearch .el-table th,.databrowsing .el-table th{
  background-color: #3971c4;
  color: #fff;
}
.index .el-table td.gutter, .el-table th.gutter{
  display: block;
  width: 100% !important;
}
.index .el-table .cell{
  padding-left: 10%;
  padding-right: 10%;
}
.index .el-table__expanded-cell{
  padding: 0 !important;
}
.index .el-table__expanded-cell table tr{
  background-color: #f9f9f9;
  padding: 0.35rem 0;
}
.index .el-table__expanded-cell table tr:hover>td{
  background-color: #dedede;
  
}
.index .el-table__expanded-cell table tr:nth-child(2n){
  background-color: #fff;
}
.index .el-table__body, .el-table__footer, .el-table__header {
  width: 100% !important;
}
.index .el-table__footer-wrapper,.index .el-table__header-wrapper,
.TemperatureRiseSearch .el-table__footer-wrapper,.TemperatureRiseSearch .el-table__header-wrapper,
.databrowsing .el-table__footer-wrapper,.databrowsing .el-table__header-wrapper,
.hotshaftwarning .el-table__footer-wrapper,.hotshaftwarning .el-table__header-wrapper
 {
  background-color: #3971c4;
}
.el-table__expand-icon {
  display: none;
}
.el-pagination .el-icon-arrow-left:before {
  content: "\00AB";
}
.el-pagination .el-icon-arrow-right:before {
  content: "\00BB";
}
.index .el-pagination .btn-prev,
.TemperatureRiseSearch .el-pagination .btn-prev{
  border-radius: 3px 0 0 3px;
  padding: 0;
  height: 1.05rem;
  min-width: 27px;
  border: 1px #dddddd solid;
}
.index .el-pagination button,
.TemperatureRiseSearch .el-pagination button{
  padding: 0;
}
.index .el-pagination .btn-next,
.TemperatureRiseSearch .el-pagination .btn-next {
  border-radius: 0 3px 3px 0 ;
  padding: 0;
  height: 1.05rem;
  min-width: 27px;
  border-top: 1px #dddddd solid;
  border-right: 1px #dddddd solid;
  border-bottom: 1px #dddddd solid;
}
.index .el-pager li,
.TemperatureRiseSearch .el-pager li {
  padding: 0 ;
  font-size: 0.45rem;
  min-width: 27px;
  height: 1.05rem;
  line-height: 1.05rem;
  border-top: 1px #dddddd solid;
  border-right: 1px #dddddd solid;
  border-bottom: 1px #dddddd solid;
}
.index .el-pager li.active,
.TemperatureRiseSearch .el-pager li.active{
  background-color: #337ab7;
  color:#fff;
}
.index .el-pagination {
  padding: 0.08rem 0;
  color: #337ab7;
}



.HotShaftReminder .el-table,.hotshaftwarning .el-table{
  font-size: 0.5rem;
  height: inherit;
}

.AccumulatedMileageQuery .el-table thead,.MaintenanceReminder .el-table thead, .CumulativeReminder .el-table thead, .hotshaftwarning .el-table thead {
  color: #fff !important;
  background-color: #3971C4 !important;
}
.hotshaftwarning .el-table__expanded-cell table tr,.el-table tbody tr{
  background-color: #f9f9f9;
  padding: 0.35rem 0;
}
.hotshaftwarning .el-table__expanded-cell table tr:hover>td{
  background-color: #dedede;
}
.hotshaftwarning .el-table__expanded-cell table tr:nth-child(2n),.el-table tbody tr:nth-child(2n){
  background-color: #fff;
}
.hotshaftwarning .el-table__expanded-cell{
  padding: 0 !important;
}
.hotshaftwarning .el-table td, .el-table th{
  padding: 1% 0;
  text-align: center;
}
.AccumulatedMileageQuery .el-table th, .el-table tr,.MaintenanceReminder .el-table th, .el-table tr,.CumulativeReminder .el-table th, .el-table tr, .hotshaftwarning .el-table th, .el-table tr {
  background-color:transparent;
}
.AccumulatedMileageQuery .el-table tbody tr:hover>td,
.MaintenanceReminder .el-table tbody tr:hover>td,
.CumulativeReminder .el-table tbody tr:hover>td,
.hotshaftwarning .el-table tbody tr:hover>td{
  background-color: #BDE5FF;
  color: #555555;
}
.hotshaftwarning .el-table__row--level-1{
  background-color: #fff!important;
}
.hotshaftwarning .el-table td, .el-table th.is-leaf {
  border-bottom: 1px solid #EBEEF5;
}
.VehicleTempRiseReminder .el-table__footer-wrapper, .el-table__header-wrapper,
.MaintenanceReminder .el-table__footer-wrapper, .el-table__header-wrapper,
.CumulativeReminder .el-table__footer-wrapper, .el-table__header-wrapper,
.hotshaftwarning .el-table__footer-wrapper, .el-table__header-wrapper {
  background-color:#3971C4;
}
.el-button {
  height: 1rem;
  font-size: 0.5rem;
  line-height: 0;
}
.el-pagination.is-background .el-pager li:not(.disabled).active {
  background-color: #327AB7;
  color: #FFF;
  border: 1px solid #f4f4f5;
}
.el-pagination.is-background .btn-next, .el-pagination.is-background .btn-prev, .el-pagination.is-background .el-pager li {
  margin: 0 0;
  background-color: #fff;
  border-radius: 0px;
  border: 1px solid #f4f4f5;
}
.el-checkbox{
  color: #949594;
  /* font-size: 0.6rem; */
}
.hotshaftwarning .wei .el-checkbox__inner{
  background-color: #2FD2E5;
  border-color: #2FD2E5;
  border-radius: 4px;
  height: 0.6rem;
  width: 0.6rem;

}
.hotshaftwarning .qiang .el-checkbox__inner{
  background-color: #FE9F20;
  border-color: #FE9F20;
  border-radius: 4px;
  height: 0.6rem;
  width: 0.6rem;
}
.hotshaftwarning .ji .el-checkbox__inner{
  background-color: #FB90B5;
  border-color: #FB90B5;
  border-radius: 4px;
  height: 0.6rem;
  width: 0.6rem;
}
.hotshaftwarning .el-checkbox__input.is-checked+.el-checkbox__label {
  color: #9C9C9C;
}
.hotshaftwarning  .el-checkbox__label{
  padding-left: 0.3rem;
  font-size: 0.6rem;
}
.hotshaftwarning .el-checkbox__inner::after{
  height: 0.4rem;
  left: 35%;
  border: 2px solid #ffffff;
  border-left: 0;
  border-top: 0;
}



.hotshaftwarning  .el-input__inner{
  height: 1rem;
}
.hotshaftwarning .el-date-editor .el-input__inner,
.StatisticalReports .el-date-editor.el-input,
.StatisticalReports .el-date-editor .el-input__inner{
  width: 100% !important;
}

.StatisticalReports .el-input, .hotshaftwarning .el-input{
  font-size: 0.5rem;
}
.hotshaftwarning .el-input__inner,.VehicleTemAnaysis .el-input__inner,.AxleTemAnaysis .el-input__inner,.AccumulatedMileageQuery .el-input__inner,.StatisticalReports .el-input__inner {
  border-radius: 0px;
  border: 1px solid #5282c8;
  color: #606266;
  height: 1rem;
  width: 70%;
}
.el-date-editor.el-input, .el-date-editor .el-input__inner{
  width: 100% !important;
}
.AccumulatedMileageQuery .el-input__prefix,
.VehicleTemAnaysis .el-input__prefix,
.AxleTemAnaysis .el-input__prefix{
  margin-top: -1px;
}
.VehicleTemAnaysis .el-input__icon,.AxleTemAnaysis .el-input__icon,.AccumulatedMileageQuery .el-input__icon,.StatisticalReports .timest .el-input__icon,.hotshaftwarning .time .el-input__icon{
    height: 1rem;
    width: 1rem;
    background-color: #3970C3;
    margin-left: 4.2rem;
    color: #fff;
    line-height: 20%;
}
.StatisticalReports .el-input__icon{
  margin-left: 4.5rem !important;
}
.StatisticalReports .timest .el-input__suffix,
.hotshaftwarning .time .el-input__suffix {
  right: 18px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.StatisticalReports .timest .el-input__prefix,
.hotshaftwarning .time .el-input__prefix, .el-input__suffix {
  width: 15%;
}
.StatisticalReports .stationst .el-input__icon,
.hotshaftwarning .station .el-input__icon{
  line-height: 20%;
  margin-left: -3rem;
}
.StatisticalReports .stationst .el-input__inner{
  width: 70%;
}
.CumulativeReminder .box .el-input__inner{
  border-radius: 0px;
  border: 1px solid #5282c8;
  color: #606266;
  height: 1.2rem;
  width: 70%;
}

.CumulativeReminder .el-table td, .el-table th{
  padding: 0.8% 0;
  text-align: center;
}
.AccumulatedMileageQuery .botton_2 .el-button,.CumulativeReminder .botton_1 .el-button{
  height: 1.5rem;
  font-size: 0.5rem;
  line-height: 0;
}

.MaintenanceReminder .el-menu--horizontal>.el-menu-item {
  padding-top: 1%;
}
.MaintenanceReminder .el-table td, .el-table th{
  padding: 0.8% 0;
  text-align: center;
}

.VehicleTempRiseReminder .el-input__inner,.TrainNumTempRiseReminder .el-input__inner{
  border-radius: 0px;
  border: 1px solid #5282c8;
  color: #606266;
  height: 1.2rem;
}
.VehicleTempRiseReminder  .el-input__icon{
  line-height: 20%;
}

.AccumulatedMileageQuery .table_5 .el-table td, .el-table th{
  text-align: center;
}

.TemperatureRiseSearch .el-date-editor.el-input,
.TemperatureRiseSearch .el-date-editor.el-input__inner,
.hotshaftwarning .el-date-editor.el-input,
.hotshaftwarning .el-date-editor.el-input__inner{
  width: 100%;
}
.TemperatureRiseSearch .el-input__inner{
  height: 1rem;
}
.TemperatureRiseSearch .el-input{
  font-size: 0.5rem;
}
.TemperatureRiseSearch .el-input-number.is-controls-right .el-input-number__decrease,
.TemperatureRiseSearch .el-input-number.is-controls-right .el-input-number__increase {
  height: 0.5rem;
  line-height: 0.5rem;
}
.TemperatureRiseSearch .el-input-number__decrease, 
.TemperatureRiseSearch .el-input-number__increase {
  width: 15%;
}
.TemperatureRiseSearch .el-input-number {
  line-height: 0;
}
.TemperatureRiseSearch .el-radio__label{
  font-size: 0.5rem;
}
.TemperatureRiseSearch .el-radio__input.is-checked+.el-radio__label{
  color: #3970C3;
}
.TemperatureRiseSearch .el-radio__input.is-checked .el-radio__inner {
  border-color: #3970C3;
  background: #3970C3;
}
.TemperatureRiseSearch .el-input-number.is-controls-right .el-input__inner {
  padding-left: 10%;
  padding-right: 23%;
}
.TemperatureRiseSearch .el-input--prefix .el-input__inner {
  padding-left: 11%;
  padding-right: 20%;
}
.TemperatureRiseSearch .el-input__inner,
.databrowsing .el-input__inner
{
  border-radius: 2px;
  border:1px #abc2e8 solid;
}
.TemperatureRiseSearch .el-date-editor .el-input__icon,
.hotshaftwarning .el-date-editor .el-input__icon{
  background-color: #3970C3;
  margin-left: 3.8rem;
  border-radius: 0 2px 2px 0;
  height: 1rem;
  width: 1rem;
  color: #fff;
  line-height: 20%;
}
.hotshaftwarning .el-date-editor .el-input__icon{
  margin-left: 4.5rem;
}
.TemperatureRiseSearch .el-cascader--mini {
  font-size: 0.5rem;
  line-height: 0;
}
.hotshaftwarning .el-cascader{
  line-height: 20%;
}
.TemperatureRiseSearch .el-input--mini .el-input__icon,
.databrowsing  .el-input--mini .el-input__icon{
  line-height: 0;
}
.TemperatureRiseSearch .el-cascader .el-input .el-icon-arrow-down {
  font-size: 0.5rem;
}

.TemperatureRiseSearch .el-table .cell,
.databrowsing .el-table .cell{
  line-height: inherit;
  font-size: 0.5rem;
  text-align: center;
  
}
.TemperatureRiseSearch .el-table tbody tr:hover>td { 
  background-color: #bde5ff;
  color: #555555;
}
.TemperatureRiseSearch .el-date-editor .el-input__suffix,.TemperatureRiseSearch .el-date-editor .el-input__prefix  {
  width: 0%;
}
.TemperatureRiseSearch .el-table td, .el-table th {
  padding: 0.3rem 0;
  text-align: center;
}


.databrowsing .el-tree {
  color: #000;
  font-size: 0.5rem;
}
.databrowsing .el-icon-sort-down, .el-icon-sort-up {
  transform: rotate(90deg);
}
.databrowsing .el-tabs__item {
  padding: 0 12%;
  height: 1.5rem;
 
  line-height: 1.5rem;
 
  font-size: 0.55rem;
 
}
.databrowsing .el-tabs__item:hover {
  color: #036fb8;
 
}
.databrowsing .el-tabs__item.is-active {
  color: #036fb8;
}
.databrowsing .el-tabs__active-bar{
  background: #036fb8;
}
.databrowsing .el-table tbody tr:hover>td { 
  background-color: transparent;

}
.databrowsing .el-table td{
  padding: 0.2rem 0;
}
.databrowsing .el-button{
  height: 1.1rem;
}
.databrowsing .el-timeline{
  text-align: left;
  font-size: 0.55rem;

}
.databrowsing .el-timeline-item__content{
  font-weight: 700;
}
.databrowsing .el-timeline-item {
  padding-bottom: 0;
} 
.databrowsing .el-timeline-item__timestamp {
  font-size: 0.5rem;
}
.databrowsing .el-timeline-item__timestamp.is-bottom {
  margin-top: 0.2rem;
}
.databrowsing .el-input--suffix .el-input__inner {
  padding-right: 20%;
}
.databrowsing .el-input--mini .el-input__inner {
  height: 1rem;
  line-height: 1rem;
}
